.PokemonCard {
  background-color: #ffcb05;
  border-radius: 8px;
  border: 5px solid #3d7dca;
  box-sizing: border-box;
  color: #003a70;
  width: 40%;
  display: inline-block;
  height: auto; /* Changed from fixed height to auto to accommodate content */
  overflow: hidden; /* Added to hide overflowing content */
  padding: 10px; /* Added padding for spacing */
  position: relative; /* Added for positioning */
  margin: 10px 5%; /* Added for spacing between cards */
}

.PokemonCard img {
  align-self: start;
  max-width: 100%; /* Ensure image doesn't overflow card */
  object-fit: contain; /* Image will scale correctly */
  margin-right: 10px; /* Spacing between image and details */
}

.PokemonCard-front {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.PokemonCard-back {
  text-align: left;
}

.PokemonCard-name {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

.PokemonCard-stats {
  list-style-type: none;
  font-size: 0.6em;
  padding: 0;
  text-align: right;
  margin: 0;
}
